* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


body{
    height:100vh;
    background: linear-gradient(#000000 50%, #FFBE0B 50%);
}

.container{
    background-color: #1e1e21;
    width: min(90%, 34em);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 3em;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 2fr 1fr 21fr;
    align-items: center;
}

.home, .guest{
    text-align: center;
    background-color: #353838;
    padding: 2em;
    border-radius: 0.5em;
    font-family: "Poppins", sans-serif;
}

button{
    cursor: pointer;
}

#reset-btn {
    background-color: transparent;
    border: 3px solid #FF006E;
    color: #FF006E;
    height: 5em;
    width: 5em;
    margin: 10px;
    border-radius: 0.5em;
}

.home h1{
    color: #FFBE0B;
}

.guest h1{
    color:#4cc9f0;
}

.home, .guest p{
    color: #fffcf7;
}